@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$nav-primary: #959595;
$nav-secondary: #f20134;
$nav-ok: #26910d;
$nav-font-size: 30px;
$header-vertical-padding: 12px;
$header-horizontal-padding: 25px;


.container {
  margin: 0 auto;
  /*max-width: 1904px;*/
  width: 1904px;
}

.header {
  background: $nav-secondary;
}

.common {
  padding: $header-vertical-padding $header-horizontal-padding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: #000000;
  color: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.logo {
  margin: 0;

  &__text {
    font-family: 'Patua One', cursive;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
  }

  &__copy {
    font-size: 7px;
  }
}

.news {
  font-size: 12px;

  &__text {
    text-transform: uppercase;
    font-weight: bold;
  }
  &__new {
    margin-left: 10px;
    font-style: italic;
  }
}

.authorization {
  text-transform: uppercase;
  font-size: 13px;

  span {
    &:not(:last-child) {
      margin: 0 9px;
    }
    &:last-child {
      margin-left: 4px;
      font-size: 16px;
    }
  }
}

.navigation {
  padding: 0 $header-horizontal-padding 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  color: #ffffff;

  &__list {
    margin: 0;
    padding: 0;

    display: flex;

    list-style: none;
    font-family: 'Patua One', cursive;
    font-size: $nav-font-size;
    font-style: italic;
  }

  &__item {
    padding: $header-vertical-padding 45px;
    /*margin-right: 95px;*/
    cursor: pointer;
    text-transform: uppercase;

    span:nth-child(2) {
      font-size: 7px;
    }

    &_ext {
      margin-left: 10px;
      font-family: monospace;
    }

    &:not(:last-child) {
      border-right: solid 1px #ca4b5e;
    }

    &:hover {
      background: $nav-primary;
      .navigation__card {
        display: flex;
      }
    }
  }

  &__card {
    width: 100%;
    padding: 21px 38px;
    box-sizing: border-box;
    display: none;
    /*display: flex;*/
    /*justify-content: space-between;*/

    position: absolute;
    left: 0;
    top: $header-vertical-padding * 2.5 + $nav-font-size;

    background: #ffffff;
  }

  .submenu {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 10px;
    cursor: default;

    &__item {
      width: calc(100% / 6);
      padding: 0 13px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      box-sizing: border-box;
      color: #000000;

      &:nth-child(2) {
        margin-right: 67px;
      }

      &:nth-child(n+3) {
        margin-right: 25px;
      }

      &:nth-child(4) {
        padding-left: 20px;

        & .submenu__subheader {
          margin-bottom: 8px !important;
        }
      }

      &:nth-child(5) {
        padding-left: 27px;

        & .submenu__subheader {
          margin-bottom: 8px !important;
        }
      }

      &:nth-child(6) {
        padding-left: 33px;
      }
    }

    .buttons {
      width: 398px;
      align-items: stretch;

      &__button {
        padding: 12px 0;
        box-sizing: border-box;

        background: transparent;
        border: solid 1px $nav-primary;
        color: $nav-primary;
        font-size: 13px;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        &:hover {
          color: #ffffff;
          background: $nav-primary;
        }
      }
    }

    &__header {
      margin: -7px 0 6px 0;
      color: $nav-secondary;
      font-size: 30px;
    }

    &__total {
      padding: 3px 6px;
      margin-bottom: 20px;
      border: solid 1px $nav-secondary;
      color: $nav-secondary;
      font-size: 12px;
    }

    &__text {
      margin: 0;
      color: $nav-primary;
      /*text-transform: capitalize;*/
      text-transform: none;
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__text-descr {
      margin: 0 0 40px 0;

      font-size: 12px;
      text-transform: none;
      color: $nav-primary;
    }

    &__subheader {
      margin: 0 0 20px 0;
      text-transform: capitalize;

      span {
        text-transform: uppercase;
      }
    }

    &__badges {
      margin-bottom: 10px;
      display: flex;
    }

    &__badge {
      padding: 3px;
      width: 18px;
      height: 18px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      box-sizing: border-box;

      &:first-child {
        border: solid 1px $nav-primary;
        color: $nav-primary;
      }
      &:nth-child(2) {
        padding: 0;
        color: $nav-ok;
        font-size: 18px;
      }
      &:last-child {
        background: $nav-secondary;
        color: #ffffff;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__search {
    padding: 0;
    border: none;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
  }
}

.main {
  img {
    width: 100%;
  }
}